<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-card-title>Fill your option</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Choose 1 only  </ion-label>

        </ion-list-header>
        <ion-item>
          <ion-label>First option</ion-label>
          <ion-radio slot="start" value="First option"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>First option</ion-label>
          <ion-radio slot="start" value="Second option"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  
</ion-content>
